<p-dialog 
  [header]="taskDetails() ? 'Alterar Tarefa' : 'Criar Tarefa'" 
  position="center"
  [resizable]="false"
  [maximizable]="false"
  [draggable]="false"
  [modal]="true" 
  [style]="{ width: '45rem', height: '40rem' }" 
  [(visible)]="visible" 
  (onHide)="onHide()"
>
    <form [formGroup]="taskForm">
      <div class="margin-bottom">
        <p-floatLabel>
          <input pInputText id="title" formControlName="name" class="title" [readOnly]="isViewingMode" [autofocus]="false"/>
          <label for="title">Título da tarefa</label>
        </p-floatLabel>  
      </div>

      <div class="margin-bottom">
        <textarea 
          pInputTextarea 
          formControlName="description" 
          placeholder="Detalhes da tarefa"
          [ngClass]="{'invalid' : taskForm.controls['description'].touched && taskForm.controls['description'].dirty && !taskForm.controls['description'].value}"
          [readOnly]="isViewingMode"
        >
        </textarea>
      </div>

      <div class="margin-bottom">
        <div class="dropdown-group">
          <!-- importar locale -->
          <p-calendar 
            formControlName="deadline" 
            inputId="icondisplay" 
            placeholder="Deadline"
            dateFormat="dd/mm/yy"
            [appendTo]="'body'"
            [iconDisplay]="'input'" 
            [showIcon]="true" 
            [readonlyInput]="isViewingMode"
          />

          <p-dropdown 
            optionLabel="text"
            optionValue="value"
            placeholder="Prioridade"
            formControlName="priority"
            [options]="priority" 
            [disabled]="isViewingMode"
          >
          </p-dropdown>
        </div>
      </div>

      <div class="margin-bottom">
        <div class="dropdown-group">
          <p-dropdown 
            optionLabel="name"
            placeholder="Responsáveis"
            formControlName="responsible"
            [ngClass]="{'invalid' : taskForm.controls['responsible'].touched && taskForm.controls['responsible'].dirty && !taskForm.controls['responsible'].value}"
            [options]="users" 
            [filter]="true"
            [emptyFilterMessage]="'Nenhum resultado encontrado'"
            [dropdownIcon]="'pi pi-search'"
            [disabled]="isViewingMode"
          >
          </p-dropdown>

          <p-dropdown 
            optionLabel="text"
            optionValue="text"
            placeholder="Projeto"
            formControlName="project"
            [ngClass]="{'invalid' : taskForm.controls['project'].touched && taskForm.controls['project'].dirty && !taskForm.controls['project'].value}"
            [options]="projectsOptions" 
            [filter]="true"
            [emptyFilterMessage]="'Nenhum resultado encontrado'"
            [dropdownIcon]="'pi pi-search'"
            [disabled]="isViewingMode"
          >
          </p-dropdown>
        </div>
      </div>

      @if(!isViewingMode) {
        <div class="file">
          <fa-icon [icon]="iconFile"></fa-icon>
          <span>Anexar arquivo</span>
          <span>Click here to upload</span>
        </div>
      }
    </form>

    @if(!isViewingMode) {
      <div class="div-submit">
          <button label="Cancelar" (onClick)="onHide()">Cancelar</button>
          <button (click)="alterarOuCriarTarefa()">
            <fa-icon [icon]="addIcon" [className]="addIcon.iconName"></fa-icon>
            {{taskDetails() ? 'Alterar' : 'Criar'}} tarefa
          </button>
      </div>
    }
</p-dialog>