@import '../../../../assets/vars.scss';

:host {
  ::ng-deep {
    .dialog-content {
      height: 100%;
    }

    .p-dialog-title {
      width: 100%;
      text-align: center;
    }

    .p-dialog-header-icon:last-child {
      border: 1px solid;
    }

    .p-calendar, .p-dropdown {
      width: 100%;
    }

    .p-inputtext, .p-dropdown {
      border: 1px solid $border-color;
    }

    .p-inputtext:enabled:focus {
      box-shadow: none;
    }

    p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
      border-color: #e24c4c !important;

      .p-dropdown-label.p-placeholder {
        color: #e24c4c !important;
      }
    }

    .p-inputtext.ng-dirty.ng-invalid {
      border-color: #e24c4c !important;
    }
  }
}

form {
  padding: 20px 0px 10px 0px;

  .title {
    width: 100%;
  }

  textarea {
    font-size: 1rem;
    color: $font-color;
    background: $white;
    padding: 0.75rem;
    border: 1px solid $border-color;
    border-radius: 6px;
    width: 100%;
    height: 140px;

    &.invalid {
      border-color: #e24c4c !important;
      &::placeholder {
        color: $invalid-color
      }
    }
  }

  .dropdown-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 115px;
    background-color: $upload-file-bg;
    border: 1px solid $border-color;
    border-radius: 7px;
    cursor: pointer;

    fa-icon {
      font-size: 24px;
    }

    span:first-of-type {
      font-size: 15px;
      line-height: 14px;
      font-weight: 600;
    }
    
    span:last-of-type {
      font-size: 13px;
    }
  }
}

.div-submit {
  display: flex;
  justify-content: center;
  gap: 10px;

  button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  button:first-of-type {
    background-color: $bg-terminal;
    color: $font-color;
  }

  button:last-of-type {
    background-color: $purple-200;
    color: $white;
  
    .plus {
      border: 2px solid $white;
      padding: 0px 4px;
      border-radius: 8px;
      margin-right: 5px;
    }
  }

}