@import '../../../assets/vars.scss';

:host {
  color: $font-color;

  ::ng-deep {
    .p-breadcrumb {
      background: transparent;
      border: none;
      padding: 10px 0 0 0;
      line-height: 0;
    }

    .p-breadcrumb-list {
      .p-menuitem-link {
        a {
          text-decoration: none;
          color: $font-color;
        }
      }

      .p-menuitem-link-active {
        a {
          text-decoration: none;
          font-weight: 500;
          color: $purple-200;    
        }
      }
    }

    .p-datatable .p-datatable-thead > tr > th {
      font-size: 15px;
      color: $font-th-color;
      background-color: transparent;
      border-width: 0 0 3px 0;

      .th-content {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: nowrap;

        .pi-sort {
          font-size: 14px;
        }
      }
    }

    .p-datatable.p-datatable-lg .p-datatable-tbody > tr > td {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .ng-fa-icon {
      color: $font-color;
      cursor: pointer;
      .fa-trash-can {
        color: $red;
      }
    }
  }
}

.task-container {
  height: 100%;
  padding: 40px 30px;

  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;

      span:first-of-type {
        font-weight: bold;
        font-size: 22px;
        line-height: 24px;
      }
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 600;
      background: $purple-200;
      color: $white;
      cursor: pointer;

      .plus {
        border: 2px solid $white;
        padding: 0px 4px;
        border-radius: 8px;
        margin-right: 5px;
      }
    }
  }

  .div-table {
    background-color: $white;
    padding: 30px 20px;
    border-radius: 8px;
    height: 100%;

    .div-filter {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 10px;
    }

    .text-decoration {
      text-decoration: underline;
    }

    .priority, .status {
      span {
        min-width: 40px;
        display: block;
        text-align: center;
        padding: 5px;
        border-radius: 8px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $white;

        &.alta {
          background-color: $tag-danger;
        }

        &.media, &.em_progresso {
          background-color: $tag-warning;
        }

        &.baixa, &.pendente {
          background-color: $tag-info;
        }

        &.concluido {
          background-color: $tag-success;
        }
      }
    }

    .icons {
      padding: 0.5rem;

      .div-icons {
        display: flex;
        justify-content: space-around;
        gap: 8px;
        font-size: 20px;
      }
    }
  }
}
