.card-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem;
  background: white;
  border-radius: 10px;
}

.card-info {
  font-weight: bold;

  div {
    display: flex;
    align-items: baseline;
    gap: 8px;

    span {
      font-size: 12px;
      font-weight: 500;
      line-height: 38px;
    }
  }

  p {
    margin: 0;

    &.value {
      font-size: 26px;
    }

    &.value.with-badge {
      position: relative;
      display: inline-block;
      padding-right: 10px;
    }

    &.value.with-badge::after {
      content: " ";
      position: absolute;
      top: 6px;
      right: 7px;
      width: 7px;
      height: 7px;
      background-color: red;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.card-icon {
  font-size: 22px;
  padding: 10px 17px;
  border-radius: 10px;

  &.spinner {
    background-color: #e9f7ff;
  }

  &.terminal {
    background-color: #f1e6fc;
  }

  &.check {
    background-color: #e9fff6;
  }

  .spinner {
    color: #4aa4d8;
  }

  .terminal {
    color: #dab5ff;
  }

  .check {
    color: #4ad894;
  }
}