@import '../../../../assets/vars.scss';

.card-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem;
  background: $white;
  border-radius: 10px;
}

.card-info {
  font-weight: bold;

  div {
    display: flex;
    align-items: baseline;
    gap: 8px;

    span {
      font-size: 12px;
      font-weight: 500;
      line-height: 38px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 100px;
    }
  }

  p {
    margin: 0;

    &.value {
      font-size: 26px;
    }

    &.value.with-badge {
      position: relative;
      display: inline-block;
      padding-right: 10px;
    }

    &.value.with-badge::after {
      content: " ";
      position: absolute;
      top: 6px;
      right: 7px;
      width: 7px;
      height: 7px;
      background-color: $red;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.card-icon {
  font-size: 22px;
  padding: 10px 17px;
  border-radius: 10px;

  &.spinner {
    background-color: $bg-spinner;
  }

  &.terminal {
    background-color: $bg-terminal;
  }

  &.check {
    background-color: $bg-check;
  }

  .spinner {
    color: $icon-spinner;
  }

  .terminal {
    color: $icon-terminal;
  }

  .check {
    color: $icon-check;
  }
}

@media(max-width: '710px') {
  .card-info {
    span {
      display: none;
    }
  }
}