@import '../../../../assets/vars.scss';

:host {
  ::ng-deep {
    p-chart {
      &.p-element {
        div {
          height: 265px !important;
        }
      }
    }

    p-dropdown {
      display: flex;
      justify-content: flex-end;
      margin-right: 18px;

      .p-dropdown-trigger-icon {
        font-size: 18px;
        color: $font-color;
      }
    }
  }
}