<div class="login">
  <div class="form-div">
    <form [formGroup]="formLogin" (keydown.enter)="isRegister() ? register() : login()">
      @if(isRegister()) {
        <div class="margin-bottom">
          <p-inputGroup>
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Name" formControlName="name"/>
          </p-inputGroup>
        </div>
      }
      <div class="margin-bottom">
        <p-inputGroup>
          <p-inputGroupAddon>
              <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Email" formControlName="email"/>
        </p-inputGroup>
      </div>
      <div class="margin-bottom">
        <p-password formControlName="password" [toggleMask]="true" [feedback]="isRegister()" />
      </div>
    </form>
  
    <div class="btn-group">
      <button (click)="isRegister() ? register() : login()">{{isRegister() ? 'Cadastrar' : 'Entrar'}}</button>
    
      @if(!isRegister()) {
        <small class="label-register" (click)="toggleRegister()">Cadastre seu usuário aqui</small>
      } @else {
        <button class="back-btn" (click)="toggleRegister()">Voltar</button>
      }
    </div>
  </div>
</div>