//font

$font-family-base:     Poppins, Arial, sans-serif;
$font-size-base:       1rem;

//colors

$font-color:     #263238;
$font-th-color:  #797b7c;

$white:          #ffffff;
$blue-50:        #e9f7ff;
$blue-100:       #14b9ff;
$blue-200:       #4aa4d8;
$purple-50:      #f1e6fc;
$purple-100:     #dab5ff;
$purple-150:     #8887c4;
$purple-200:     #6261b4;
$purple-300:     #5554aa;
$green-50:       #e9fff6;
$green-100:      #4ad894;
$red:            #ff1414;
$orange:         #ffa16c;

$bg-light:       #f5f5f5;
$bg-spinner:     #e9f7ff;
$bg-terminal:    #f1e6fc;
$bg-check:       #e9fff6;

$icon-spinner:   #4aa4d8;
$icon-terminal:  #dab5ff;
$icon-check:     #4ad894;

$tag-danger:     #ff1414;
$tag-warning:    #ffa16c;
$tag-info:       #14b9ff;
$tag-success:    #4ad894;

$border-color:   #eef2f4;
$box-shadow:     #e5e5e5;

$invalid-color:  #e24c4c;

$upload-file-bg: #f6f8f9;

