<aside [ngClass]="{ expanded }">
  <button
    class="toggler"
    (click)="expand()"
  >
    <div class="wrapper">
      <div class="icon-container">
        <fa-icon [icon]="faList"></fa-icon>
      </div>
      <div class="label-container">
        <span>Navegação</span>
      </div>
    </div>
  </button>

  <nav>
    <ul class="list-unstyled">
      @for(item of menu; track $index) {
        <li class="item">
          <a
            [routerLink]="item.routerLink"
            [routerLinkActive]="['active']"
            class="text-decoration-none"
          >
            <fa-icon [icon]="item.icon"></fa-icon>
            <span>{{item.label}}</span>
          </a>
        </li>
      }
    </ul>
  </nav>
</aside>