@import '../../../../assets/vars.scss';

:host {
  ::ng-deep {
    .ng-fa-icon {
      color: $white;
      font-size: 18px;
    }
  }

  span {
    font-size: 14px;
  }
}

aside {
  display: flex;
  height: 100%;
  width: 73px;
  flex-direction: column;
  transition: .3s ease-in-out;

  &:not(.expanded) {
    nav > ul:not(:hover) {
      display: none;
    }

    nav:hover {
      width: 203px;

      & > ul {
        span {
          width: 100%;
          transition: none;
        }
      }
    }
  }

  &.expanded {
    width: 240px;
    max-width: 100%;

    button {
      .wrapper {
        span, .label-container {
          width: 100%;
        }
      }
    }
  }

  nav {
    position: relative;
    margin-bottom: 16px;
    overflow: hidden;
    z-index: 10;
    background-color: inherit;

    > ul {
      margin-bottom: 0;
      padding: 0 8px;
      height: 100%;
      width: 100%;
      overflow: hidden;
      overflow-y: auto;
      list-style: none;
    }
  }

  button {
    display: flex;
    border: 0;
    border-radius: 0;
    padding: 12px 25px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: $purple-200;

    .icon-container {
      width: 25px;
      flex-shrink: 0;

      &:last-child {
        margin-left: auto;
      }

      &.chevron {
        font-size: .6rem;
        font-weight: bold;
        opacity: .8;
      }
    }

    span {
      text-align: left;
    }

    .wrapper {
      display: flex;
      width: 100%;
      min-width: 25px;
      flex: 1;
      align-items: center;
      white-space: nowrap;
      flex-wrap: nowrap;
      overflow: hidden;

      span, .label-container {
        width: 0;
        overflow: hidden;
        transition: width .3s ease-in-out;
        text-overflow: ellipsis;
      }
    }
  }

  .toggler {
    cursor: pointer;
    height: 60px;
    background-color: $purple-300;
    color: $white;

    &.logout {
      margin-top: auto;
    }
  }

  .item {
    border: none;
    border-radius: 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    a { 
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding: 15px 25px;
      text-decoration: none;
      color: $white;
      border-radius: 8px;
      cursor: pointer;
    }

    &:hover, .active {
      cursor: pointer;
      border-radius: 8px;
      background-color: $purple-150;
    }
  }

}