@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "../node_modules/primeicons/primeicons.css";
@import './assets/styles/vars';

* {
  font-family: var(--font-family-base);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
