//font

$font-family-base:     Poppins, Arial, sans-serif;
$font-size-base:       1rem;
$font-family:          $font-family-base;
$font-size:            $font-size-base;

//colors

$white:          #ffffff;
$blue-50:        #e9f7ff;
$blue-100:       #14b9ff;
$blue-200:       #4aa4d8;
$purple-50:      #f1e6fc;
$purple-100:     #dab5ff;
$purple-aside:   #6261b4;
$green-50:       #e9fff6;
$green-100:      #4ad894;
$red:            #ff1414;
$orange:         #ffa16c;

$bg-light:       #f5f5f5;


