<div class="dashboard-container">
  <div class="header">
    <div class="welcome">
      <span>Olá {{loggedInUser?.name}},</span>
      <span>Bem vindo ao seu gestor de tarefas!</span>
    </div>
    <button (click)="showModalNewTask = true">
      <fa-icon [icon]="addIcon" [className]="addIcon.iconName"></fa-icon>
      Nova tarefa
    </button>
  </div>
  
  @if(cardEntries) {
    <div class="div-cards">
      @for(card of cardEntries; track $index) {
        <app-card [cardDataEntrie]="card" [overdueTasks]="overdueTasks()"/>
      }
    </div>
  }

  <div class="div-chart">
    <span># Tarefas concluídas por dia</span>
    <div class="view-data">
      @if(showLineChart()) {
        <p-dropdown 
          optionLabel="text"
          optionValue="id"
          [options]="filterOptions" 
          [dropdownIcon]="'pi pi-calendar'"
          [(ngModel)]="selectedOption"
          (onChange)="getChartData()"
        >
        </p-dropdown>
        <app-line-chart [chartData]="chartData()"></app-line-chart>
      } @else {
        <span>Não há registros disponíveis</span>
      }
    </div>
  </div>
</div>

@if(showModalNewTask) {
  <app-modal-task (hideComponent)="showModalNewTask = false" (updateTasks)="getDashboardData()"/>
}