<div class="dashboard-container">
  <div class="header">
    <div class="welcome">
      <span>Olá Neto,</span>
      <span>Bem vindo ao seu gestor de tarefas!</span>
    </div>
    <button>
      <fa-icon [icon]="addIcon" [className]="addIcon.iconName"></fa-icon>
      Nova tarefa
    </button>
  </div>
  
  <div class="div-cards">
    @for(card of cardEntries; track $index) {
      <app-card [cardDataEntrie]="card"/>
    }
  </div>

  <div class="div-chart">
    <span># Tarefas concluídas por dia</span>
    <div class="view-data">
      @if(showLineChart()) {
        <app-line-chart [chartData]="dashboardData().chartData"></app-line-chart>
      } @else {
        <span>Não há registros disponíveis</span>
      }
    </div>
  </div>
</div>