.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .welcome {
    display: flex;
    flex-direction: column;

    span:first-of-type {
      font-weight: bold;
    }
  }
}

.div-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px
}

.div-chart {
  height: 60%;
}